#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.blur-item {
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 60%;
  background-color: #b91414;
  z-index: -1;
  filter: blur(20px);
  opacity: 30%;
}